Repository alexjraymond/ComfyLounge: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix --allow-empty-input, eslint --fix

.lintstagedrc:

{
  "*.html": [
    "markuplint"
  ],
  "*.css": [
    "stylelint --fix --allow-empty-input"
  ],
  "*.{js,jsx}": [
    "eslint --fix"
  ]
}

created basic feature design, made widget movement function modular
  client/components/StickyNotes.jsx
  client/functions/widgetMove.js
  client/index.jsx
  package-lock.json
  package.json
  server/public/img/logo_bw.png
  server/public/output.css
  server/public/styles.css
  webpack.config.js
Due: stylelint --fix --allow-empty-input, eslint --fix

nav buttons now conditionally render widgets
  client/components/MusicWidget.jsx
  client/components/NavBar.jsx
  client/components/StickyNotes.jsx
  client/components/YoutubePlayer.jsx
  client/functions/appContext.js
  client/index.jsx
  client/redux/action.js
  client/redux/store.js
  package-lock.json
  package.json
  server/public/img/notes.png
  server/public/img/notesbutton.png
  server/public/img/radio button 1.png
  server/public/index.html
  server/public/output.css
  server/public/styles.css
Due: markuplint, stylelint --fix --allow-empty-input, eslint --fix

a lot of progress before I do localstorage shenanigans
  client/components/MusicWidget.jsx
  client/components/NavBar.jsx
  client/components/StickyNotes.jsx
  client/index.jsx
  server/public/output.css
  server/public/styles.css
Due: stylelint --fix --allow-empty-input, eslint --fix

the sticky note crisis has been solved
  client/components/MusicWidget.jsx
  client/components/NavBar.jsx
  client/components/StickyNotes.jsx
  client/components/YoutubePlay.jsx
  client/index.jsx
Due: eslint --fix

cleaned up code a lot
  client/components/MusicWidget.jsx
  client/components/StickyNotes.jsx
  client/components/YoutubePlay.jsx
  client/components/data.json
  client/index.jsx
  client/redux/action.js
  client/redux/store.js
  database/data.js
  package.json
  server/public/favicon.ico
  server/public/favicon2.ico
  server/public/img/loficoffee150.png
  server/public/img/loficoffeeshop.jpeg
  server/public/img/lofigirl.png
  server/public/img/lofigirl150.png
  server/public/img/pianoguy.png
  server/public/img/pianoguy150.png
  server/public/img/raccoon.png
  server/public/img/racoon150.png
  server/public/index.html
  server/public/output.css
  server/public/styles.css
  tailwind.config.js
Due: markuplint, stylelint --fix --allow-empty-input, eslint --fix

widgets view state persists through refreshes now
  client/components/MusicWidget.jsx
  client/functions/widgetMove.js
  client/index.jsx
Due: eslint --fix

finishing these widgets
  client/components/StickyNotes.jsx
  client/components/YoutubePlay.jsx
  client/functions/dataWriter.js
  client/functions/widgetMove.js
  client/index.jsx
  server/public/output.css
Due: stylelint --fix --allow-empty-input, eslint --fix

updated widgetmove
  client/functions/widgetMove.js
Due: eslint --fix

first heroku attempt
  .env.example
  client/components/KittenWidget.jsx
  client/components/MusicWidget.jsx
  client/components/NavBar.jsx
  client/components/StickyNotes.jsx
  client/functions/appContext.js
  client/functions/dataWriter.js
  client/functions/widgetMove.js
  client/index.jsx
  package-lock.json
  package.json
  server/dynamo-get-item.js
  server/public/styles.css
  webpack.config.js
Due: stylelint --fix --allow-empty-input, eslint --fix

Delete dynamo-get-item.js
  server/dynamo-get-item.js
Due: eslint --fix

heroku attempt #1
  client/components/data.json
Due: none

dylan + robert + endpoints = saved
  client/components/KittenWidget.jsx
  server/dynamo-get-item.js
  server/index.js
  server/public/output.css
  webpack.config.js
Due: stylelint --fix --allow-empty-input, eslint --fix

npm draggable localstorage functional
  client/components/KittenWidget.jsx
  client/functions/widgetMove.js
  server/public/styles.css
Due: stylelint --fix --allow-empty-input, eslint --fix

npm react draggable music widget
  client/components/KittenWidget.jsx
  client/components/MusicWidget.jsx
  client/components/withDraggableHOC.jsx
  client/index.jsx
  server/public/styles.css
Due: stylelint --fix --allow-empty-input, eslint --fix

final push for now dot dot dot
  client/components/KittenWidget.jsx
  client/components/StickyNotes.jsx
  client/index.jsx
  server/public/styles.css
Due: stylelint --fix --allow-empty-input, eslint --fix

removed unnecessary files
  client/components/MusicWidget.jsx
  client/components/StickyNotes.jsx
  client/components/withDraggableHOC.jsx
  client/functions/widgetMove.js
  client/index.jsx
  server/index.js
  server/public/img/BrightDesktop.jpg
  server/public/img/PastelHourDesktop.jpg
  server/public/img/SnowyDesktop.jpg
  server/public/img/TwilightDesktop.jpg
  server/public/img/loficoffeeshop.jpeg
  server/public/img/lofigirl.png
Due: eslint --fix

Update README.md
  README.md
Due: none
